include LICENSE
include README.rst
recursive-include myce_theme/admin *
recursive-include myce_theme/models *
recursive-include myce_theme/urls *
recursive-include myce_theme/views *
recursive-include myce_theme/static *
recursive-include myce_theme/staticfiles *
recursive-include myce_theme/templates *
recursive-include myce_theme/management *
recursive-include myce_theme/migrations *